@import "../../style.scss";

.share {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 20px;

    .container {
      padding: 20px;
      .top {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        input {
          border: none;
          outline: none;
          padding: 20px 10px;
          background-color: transparent;
          width: 60%;
          color: themed("textColor");

          &::placeholder {
            color: themed("textColorSoft");
          }
        }
      }

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          display: flex;
          align-items: center;
          gap: 20px;

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            img {
              width: 20px;
            }

            span {
              font-size: 12px;
              color: themed("textColorSoft");
            }

            .image-url-input {
              border: 1px solid themed("border");
              border-radius: 5px;
              padding: 5px 10px;
              font-size: 12px;
              color: themed("textColor");
              background-color: themed("bgSoft");
              width: 200px;

              &::placeholder {
                color: themed("textColorSoft");
              }

              &:focus {
                outline: none;
                border-color: themed("button");
              }
            }
          }
        }

        .right {
          display: flex;
          align-items: center;
          gap: 10px;

          .error {
            color: red;
            font-size: 12px;
          }

          button {
            border: none;
            padding: 8px 15px;
            color: white;
            cursor: pointer;
            background-color: themed("button");
            border-radius: 5px;
            transition: background-color 0.2s;

            &:disabled {
              opacity: 0.7;
              cursor: not-allowed;
            }

            &:not(:disabled):hover {
              background-color: darken(themed("button"), 10%);
            }
          }
        }
      }
    }
  }
}
